/* Grobal */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(247, 207, 224);
  color: rgb(82, 79, 80);
  height: 100%;
  padding-top: 56px;
}

main {
  background-color: rgba(208, 164, 176, 0.4);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

a i:hover {
  transition: all 0.1s;
  transform: rotate(10deg);
}

h3 {
  color: rgb(208, 164, 176);
}

.myPhoto {
  border-radius: 20px;
}
/* Grobal */

/************************ header start *******************/
header {
  font-family: 'Poppins', sans-serif;
}
.titleIcon {
  transition: all 0.5s;
}
.titleIcon:hover{
  transform: scale(1.5);
}

.navBg {
  background-color: rgb(208, 164, 176);
  box-shadow: 1px 0px 10px 2px rgb(208, 164, 176);
}
/************************ header end *********************/

/************************ TOP  ************************/
.minoriDiv {
  padding: 40px;

  text-align: center;
  background-color: rgba(208, 164, 176, 0.5);
  font-family: 'Poppins', sans-serif;
}

.minori {
  width: 200px;
  transition: all 2s;
}

.minori:hover {
  animation: tada 1s infinite;
}

@keyframes tada {
  0% {transform: scale(1);} 
  10%, 20% {transform: scale(0.9) rotate(-3deg);} 
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
  40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
  100% {transform: scale(1) rotate(0);} 
} 
/************************ TOP end ************************/
/************************* Phone **********************/
.phone { /* Phone extérieur */
  font-family: 'Poppins', sans-serif;
  margin: 40px auto;
  border: 1px solid rgb(153, 123, 173);
  box-shadow :10px 5px 5px rgba(0,0,0,0.2), 0 -10px 10px -2px rgba(92, 67, 71, 0.7) inset;
  background-color: rgb(200, 176, 212);
  border-radius: 50px;
  height: 650px;
  width: 70%;
  max-width: 450px;
  min-width: 319px;
  position: relative;
}

.screen { /* Fond d'écran */
  margin: 0 auto;
  border: 1px splid rgb(112, 118, 162);
  background-color: rgb(77, 73, 78);
  border-radius: 10px;
  height: 80%;
  width: 90%;
  position: absolute;
  top: 25px;
  left: 5%;
  right: 5%;
}

.topIcon { /* icons top wrapper */
  color: rgb(208, 164, 176);
}

.time { /* c'est mon anniversaire */
  flex: auto;
  width: 33%;
  text-align: center;
  padding: 3px 0; /* centrer verticalement */
}

.wifi { /* icons - programmation */
  font-size: 18px;
  flex: auto;
  width: 33%;
  padding-left: 15px;
  text-align: left;
}

.battery { /*icons position battery*/
  font-size: 18px;
  flex: auto;
  width: 33%;
  text-align: center;
}

.screenTop {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  /* ajoute un margin pour les deux côté a */
}
.screenTop i {
  font-size: 40px;
}

.screenTop a { /* Buttons */
  display: block;
  flex: auto;
  width:20%;
  padding: 10px 0;
  margin: 5px 5px 10px 5px;
  height: auto;
  line-height: auto;
  background-color: rgb(236, 193, 218);

  border: 1px solid pink;
  border-radius: 10px;
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px rgba(92, 67, 71, 0.7) inset;

  color: rgb(82, 79, 80);
  text-decoration: none;
  text-shadow: 4px 8px 5px rgb(158, 140, 190);
  text-align: center;
  font-size: 25px;
  
}
.screenTop a:hover {
  color: rgba(62, 47, 80, 0.774);
}


.cercle {
  background-color:rgb(200, 176, 212);
  border: 1px solid rgb(153, 123, 173);
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 4px 15px -2px rgba(92, 67, 71, 0.7) inset;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  top: 88%;
  left: 45%;
  right: 45%;
}
/************************ Phone end *********************/
/************************ About me **********************/
#aboutMe {
 
}
/************************* About me end **********************/